@{
    ViewData["Title"] = "MANAGER - Relacionar Contas";
}
@model CIEO.Models.DTOFront.Manager.DocConficPad

<div class="container">
    <div class="row">
        <div class="col">
            <h3>
                Documento CADASTRADO COM SUCESSO
            </h3>
        </div>
    </div>


    <form asp-controller="Manager" asp-action="ConfigurarDocumento" asp-antiforgery="true" method="post">
        <div class="row">
            <div class="col">
                <label asp-for="TipoDocumental"></label>
                <input disabled asp-for="TipoDocumental" list="tiposDocumentais" placeholder="Informe Aqui" class="form-control">
                <datalist id="tiposDocumentais">
                    @for (int i = 0; i < Model.TiposDocumentais.Count; i++)
                    {
                        <option value="@Model.TiposDocumentais[i]"></option>
                    }
                </datalist>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="CategoriaAnexo"></label>
                <input disabled asp-for="CategoriaAnexo" class="form-control" placeholder="Informe Aqui" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Nome"></label>
                <input disabled asp-for="Nome" class="form-control" placeholder="Informe Aqui" />
            </div>
            <div class="col">
                <label asp-for="Extensao"></label>
                <input disabled asp-for="Extensao" class="form-control" placeholder="Informe Aqui" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input disabled name="Credenciar" type="checkbox" class="form-check-input" id="flexCheckDefault" />
                <label asp-for="Credenciar"></label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="AssinaturaTipoId"></label>
                <select disabled asp-for="AssinaturaTipoId" asp-items="@Model.AssinaturaTipo" class="form-select">
                </select>
            </div>

            <div class="col">
                <label asp-for="DocumentoTipoId"></label>
                <select disabled asp-for="DocumentoTipoId" asp-items="@Model.DocumentoTipo" class="form-select">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="ValorLegalId"></label>
                <select disabled asp-for="ValorLegalId" asp-items="@Model.ValorLegal" class="form-select">
                </select>
            </div>
            <div class="col">
                <label asp-for="RestricaoTipoId"></label>
                <select disabled asp-for="RestricaoTipoId" asp-items="@Model.RestricaoTipo" class="form-select">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="ClasseId"></label>
                <input disabled asp-for="ClasseId" list="classesDocs" class="form-control">
                <datalist id="classesDocs">
                    @for (int i = 0; i < Model.Classes.Count; i++)
                    {
                        <option value="@Model.Classes[i].Id">@Model.Classes[i].Codigo.Trim().ToUpper() - @Model.Classes[i].Nome.Trim().ToUpper()</option>
                    }
                </datalist>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input disabled name="Ativo" type="checkbox" class="form-check-input" id="flexCheckDefault" />
                <label asp-for="Ativo"></label>
            </div>
        </div>
        @if (Model.Assinantes != null || Model.Assinantes.Count < 1)
        {
            @*
        <div class="row">
        <div class="col">
        <table class="table">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">CPF Indicado</th>
        <th scope="col">Papel Indicado</th>
        <th scope="col">Ativo</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Assinantes.Count; i++)
        {
        <tr>
        <th scope="row">@i</th>
        <td>@Model.Assinantes[i].UsuarioIndicado</td>
        <td>@Model[i].UsuarioOB.UserName</td>
        <td>Futuro Link de Exclusão</td>
        </tr>
        }
        </tbody>
        </table>
        </div>
        </div>
        *@
        }
    </form>
</div>